<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <div class="container">
        <h1 class="w3-jumbo">Fake News Detection With Machine Learning</h1>
        <p style="text-align: justify;">
               This Website proposes a model for recognizing News Headline, by figuring out how to anticipate precision appraisals, in view of computerizing forged news identification in  datasets made by web scraping various news sites. Afterwards, we performed a comparison between five well-known Machine Learning algorithms, like Support Vector Machine, Naïve Bayes Method, Logistic Regression and Recurrent Neural Network models, separately to demonstrate the efficiency of the classification performance on the dataset. Our experimental result showed that SVM and Naïve Bayes classifier outperforms the other algorithms.
        </p>
        <div class="content w3-center">
            <form action="{{ url_for('predict')}}" method="post">
                <div class="input-field">
                    <input type="text" name="text" required="required" />
                    <label for="text">Text</label>
                </div>
                <div class="w3-center">
                    <button type="submit" class="btn btn-primary">Go</button>
                </div>

            </form>
        </div>


        <br>
        <br> {% if prediction_text != [] %}
        <div class="content">
            <p> <b>Input : </b> {{ inp }}</p>
        </div>

        <br>
        <h3 class="w3-xxxlarge">Results</h3>
        <h5 class="content"> {{ prediction_text }} </h5>

        {% endif %}
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>